/* Variables */
:root {
  --english-violet: #031d44ff;
  --raisin-black: #04395eff;
  --marigold: #70a288ff;
  --black: #dab785ff;
  --red: #d5896fff;

  --prussian-blue: #0b3954ff;
  --metallic-seaweed: #087e8bff;
  --beau-blue: #bfd7eaff;
  --sizzling-red: #ff5a5fff;
  --lava: #c81d25ff;

  --TransitionSpeed: 0.4s;
  --g1: 0%;
  --g2: 12.5%;
  --g3: 25%;
  --g4: 37.5%;
  --g5: 50%;
  --g6: 62.5%;
  --g7: 87.5%;
  --g8: 100%;
}
/* Fonts */
@font-face {
  src: url("fonts/sora/Sora-Light.ttf");
  font-family: sora;
}

@font-face {
  src: url("fonts/Fancy/DancingScript-Regular.ttf");
  font-family: Fancy;
}

@font-face {
  src: url("fonts/Space/SpaceMono-Regular.ttf");
  font-family: space;
}

html{
  scroll-behavior: smooth;
  overflow-y: overlay;
}

body {
  background: linear-gradient(90deg, var(--raisin-black) 20%, var(--english-violet) 20%, var(--english-violet) 40%, var(--marigold) 40%, var(--marigold) 60%, var(--black) 60%, var(--black) 80%, var(--red) 80%);
  background-attachment: fixed;
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-position: var(--g7);
  margin: 0px;
  padding: 0px;
}

body h1{
  font-family: Fancy;
  text-align: center;
  font-size: 160px;
  margin: 0px;
  padding: 0px;

  margin-top: 5px;

  user-select: none;
  background:  linear-gradient(to left, var(--raisin-black) 20%, var(--english-violet) 20%, var(--english-violet) 40%, var(--marigold) 40%, var(--marigold) 60%, var(--black) 60%, var(--black) 80%, var(--red) 80%);
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-position: var(--g2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  width: 100%;
  height: 10%;
}

/* Regions */


.LeftHalf {
  position: absolute;
  bottom: 5%;
  left: 0;

  width: 50%;
  height: 80%;
  z-index: -10;

  display: grid;
  place-items: center;
}
.RightHalf {
  position: absolute;
  bottom: 5%;
  right: 0;

  width: 50%;
  height: 80%;
  z-index: -10;
  display: grid;
  place-items: center;
}

.menubutton{
  width: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  transition: 0.2s;
}
.menubutton:hover{
  filter: invert();
  transition: 0.2s;
}
.Menu{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    border: 3px #ffffff50 solid;
    background-color: #ffffff20;
    display: grid;
    place-items: center;

    filter: drop-shadow(5px 5px #ffffff20);
    opacity: 0;
    z-index: 3;

    pointer-events: none;

}

.Menu a{
  color: white;
  font-family: space;
  font-size: 50px;
  user-select: none;
  background:
    linear-gradient(to right, white, white),
    linear-gradient(to right, var(--raisin-black), var(--raisin-black), var(--raisin-black));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  transition: 0.3s;
}

.Menu a:hover{
  font-size: 55px;
  background-size: 0 0.1em, 100% 0.1em;
  transition: 0.3s;
}

.Menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.logo{
  width: 70%;
}
input[type=text], select, textarea {

  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: space;
}

label{
}

input[type=submit] {
  color: var(--black);
  text-align: center;
  padding: 12px 20px;
  cursor: pointer;
  font-family: space;
}

.container {
  padding: 20px;
  width: 50%;
  font-family: space;
  text-align: center;
  font-size: 25px;
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder {
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
